<div id="account-manage">
    <div class="lr-panel-wrap">
        <div class="lr-panel-left">
            <ul class="head-tools">
                <li id="queryKernalTime" title="查询核时"><span class="fa fa-clock-o"></span></li>
                <li id="removeCompanyBtn" title="删除公司"><span class="fa fa-remove"></span></li>
                <li id="modifyCompanyBtn" title="编辑公司"><span class="fa fa-pencil"></span></li>
                <li id="addCompanyBtn" title="添加公司"><span class="fa fa-plus"></span></li>
            </ul>
            <div>
                <input id="company-searchbox" style="width:248px"/>
            </div>
            <div class="tree-container">
                <ul id="companyTree" class="ztree"></ul>
            </div>
        </div>
        <div class="lr-panel-right">
            <div class="condition-wrap shadow-block">
                <input id="home-easyui-searchbox" style="width:250px"/>
                <div class="conditionitem"><span>开始时间：</span><input id="startdate" type="text" class="easyui-datetimebox"/></div>
                <div class="conditionitem"><span>结束时间：</span><input id="enddate" type="text" class="easyui-datetimebox" /></div>
            </div>
            <div class="tablecontainer shadow-block">
                <div class="tablecontainer">
                    <table id="dataTable"></table>
                </div>
                <div id="account-manage-toolbar">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="add_account_btn" data-options="iconCls:'fa fa-plus icon-datagrid',plain:true">新增账目</a>
                    <div class="datagrid-btn-separator"></div>
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="modify_account_btn" data-options="iconCls:'fa fa-pencil icon-datagrid',plain:true">编辑账目</a>
                    <div class="datagrid-btn-separator"></div>
                    <a hrxef="javascript:void(0)" class="easyui-linkbutton" id="delete_account_btn" data-options="iconCls:'fa fa-remove icon-datagrid',plain:true">删除账目</a>
                    <sec-authorize  url="element:/modules/account-manage:encaseAccount">
                    <div class="datagrid-btn-separator"></div>
                    <a hrxef="javascript:void(0)" class="easyui-linkbutton" id="encase_account_btn" data-options="iconCls:'fa fa-suitcase icon-datagrid',plain:true">封存账目</a>
                    </sec-authorize>
                    <sec-authorize url="element:/modules/account-manage:unencaseAccount">
                    <div class="datagrid-btn-separator"></div>
                    <a hrxef="javascript:void(0)" class="easyui-linkbutton" id="unencase_account_btn" data-options="iconCls:'fa fa-dropbox icon-datagrid',plain:true">解除封存</a>
                    </sec-authorize>
                </div>
            </div>
        </div>
    </div>

    <div id="tree-context-menu" class="easyui-menu" style="width:150px;display: none">
        <div data-options="iconCls:'fa fa-pencil',name:'context_modifyCompanyBtn'" id="context_modifyCompanyBtn">编辑公司</div>
        <div data-options="iconCls:'fa fa-remove',name:'context_removeCompanyBtn'" id="context_removeCompanyBtn">删除公司</div>
        <div data-options="iconCls:'fa fa-clock-o',name:'context_queryKernalTime'" id="context_queryKernalTime">查询核时</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-plus',name:'context_add_account_btn'" id="context_add_account_btn">添加账目</div>
    </div>
    <div id="table-context-menu" class="easyui-menu" style="width:150px;display: none">
        <div data-options="iconCls:'fa fa-pencil',name:'context_modify_account_btn'" id="context_modify_account_btn">编辑账目</div>
        <div data-options="iconCls:'fa fa-remove',name:'context_delete_account_btn'" id="context_delete_account_btn">删除账目</div>
    </div>
</div>
