<div id="attence-analyse" class="attence-analyse clearfix">
    <div class="condition-wrap shadow-block">
        <div class="conditionitem"><label>开始时间：</label><input id="startdate" type="text" class="easyui-date"/></div>
        <div class="conditionitem"><label>结束时间：</label><input id="enddate" type="text" class="easyui-date" /></div>
    </div>
    <div class="charts-container">
        <div class="view-block-row column-100">
            <div class="column-50 pl0 pr5"><div id="attence-analyse-chart1" class="shadow-block view-block" ></div></div>
            <div class="column-50 pl5 pr0"><div id="attence-analyse-chart2" class="shadow-block view-block" ></div></div>
        </div>
        <div class="view-block-row column-100 mt10">
            <div id="attence-analyse-chart3" class="shadow-block view-block column-100" ></div>
        </div>
    </div>
</div>