<div id="company-manage">
    <div class="condition-wrap shadow-block">
        <input id="home-easyui-searchbox" style="width:230px"/>
    </div>
    <div class="tablecontainer shadow-block">
        <div class="tablecontainer">
            <table id="dataTable"></table>
        </div>
        <div id="company-manage-toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" id="add_company_btn" data-options="iconCls:'fa fa-plus icon-datagrid',plain:true">添加公司</a>
            <div class="datagrid-btn-separator"></div>
            <a href="javascript:void(0)" class="easyui-linkbutton" id="modify_company_btn" data-options="iconCls:'fa fa-pencil icon-datagrid',plain:true">编辑公司</a>
            <div class="datagrid-btn-separator"></div>
            <a href="javascript:void(0)" class="easyui-linkbutton" id="delete_company_btn" data-options="iconCls:'fa fa-remove icon-datagrid',plain:true">删除公司</a>
        </div>
    </div>
</div>
