<div class="company-add-modify add-modify-form">
    <div class="panel-body">
            <div class="form-group">
                <label>公司编号：</label>
                <input class="form-control" placeholder="请输入公司编号" name="company_code" id="company_code" type="text" autofocus>
            </div>
            <div class="form-group">
                <label>公司名称：</label>
                <input class="form-control" placeholder="请输入公司名称" name="company_name" id="company_name" type="text" autofocus>
            </div>
            <div class="form-group">
                <label>公司地址：</label>
                <input class="form-control" placeholder="请输入公司地址" name="company_address" id="company_address" type="text" value="">
            </div>
            <div class="form-group">
                <label>渲染用户名：</label>
                <input class="form-control" placeholder="请输入渲染客户端用户名" name="render_username" id="render_username" type="text" value="">
            </div>
            <div class="form-group">
                <label>渲染单价：</label>
                <input class="form-control" placeholder="请输入渲染单价" name="render_price" id="render_price" type="text" value="0.3">
            </div>
            <div class="form-group" style="height:100px;">
                <label>备注：</label>
                <textarea  class="form-control" placeholder="请输入公司备注" name="company_mark" id="company_mark" ></textarea>
            </div>

            <div class="btn-wrap">
                <span class="framework-button" id="confirmBtn">提交</span>
                <span class="framework-button" id="cancelBtn">取消</span>
            </div>
    </div>
</div>
