<div class="customer-add-modify">
    <div class="panel-body">
            <div class="form-group">
                <label>客户编号：</label>
                <input class="form-control" placeholder="请输入客户编号" name="customer_code" id="customer_code" type="text" autofocus>
            </div>
            <div class="form-group">
                <label>客户姓名：</label>
                <input class="form-control" placeholder="请输入客户姓名" name="customer_name" id="customer_name" type="text" autofocus>
            </div>
            <div class="form-group">
                <label>客户职位：</label>
                <input class="form-control" placeholder="请输入客户职位" name="customer_job" id="customer_job" type="text" value="">
            </div>
            <div class="form-group">
                <label>联系电话：</label>
                <input class="form-control" placeholder="请输入客户联系电话" name="tel" id="tel" type="text" value="">
            </div>
            <div class="form-group">
                <label>QQ：</label>
                <input class="form-control" placeholder="请输入客户QQ" name="qq" id="qq" type="text" value="">
            </div>
            <div class="form-group">
                <label>客户邮箱：</label>
                <input class="form-control" placeholder="请输入客户邮箱" name="mail" id="mail" type="text" value="">
            </div>
            <div class="form-group" style="height:100px;">
                <label>备注：</label>
                    <textarea  class="form-control" placeholder="请输入备注" name="customer_mark" id="customer_mark" ></textarea>
            </div>
            <div class="form-group">
                <label>所属公司：</label>
                <input class="form-control" placeholder="请选择所属公司" readonly="true" name="company_id" id="company_id" type="text" data-company-id="0" value="请选择所属公司">
            </div>
            <div class="btn-wrap">
                <span class="framework-button" id="confirmBtn">提交</span>
                <span class="framework-button" id="cancelBtn">取消</span>
            </div>
    </div>
</div>
