<div class="element-add-modify">
    <div class="panel-body">
            <div class="form-group">
                <label>元素名称：</label>
                <input class="form-control" placeholder="请输入元素名称" name="element_desc" id="element_desc" type="text" autofocus>
            </div>
            <div class="form-group">
                <label>元素编码：</label>
                <input class="form-control" placeholder="请输入元素编码" name="element_code" id="element_code" type="text" value="">
            </div>
            <div class="form-group">
                <label>所属菜单：</label>
                <input class="form-control" placeholder="请选择所属菜单" readonly="true" name="menu_id" id="menu_id" type="text" data-pid="0" value="根菜单">
            </div>
            <div class="btn-wrap">
                <span class="framework-button" id="confirmBtn">提交</span>
                <span class="framework-button" id="cancelBtn">取消</span>
            </div>
    </div>
</div>
