<div class="form-designer shadow-block" style="height:100%">
    <div class="lr-panel-wrap" style="position: relative">
        <div class="lr-panel-left" style="width: 150px">
            <ul class="widget-list">
                <li data-widget='input_text_widget'>单行输入框</li>
                <li data-widget='input_multi_widget'>多行输入框</li>
                <li data-widget='input_number_widget'>数字输入框</li>
                <li data-widget='input_select_widget'>下拉选择框</li>
                <li data-widget='input_date_widget'>日期</li>
                <li data-widget='input_daterange_widget'>日期区间</li>
                <li data-widget='input_details_widget'>明细</li>
                <li data-widget='input_attachment_widget'>附件</li>
            </ul>
        </div>
        <div class="lr-panel-right" style="padding-left:160px;">
            <div>
                <input id="title" type="text" placeholder="请输入表单标题" autofocus/>
            </div>
            <script type="text/plain" id="myEditor" style="width:100%;height:400px;"></script>
            <div class="btn-wrap">
                <span class="framework-button" id="submitBtn">保存</span>
                <span class="framework-button" id="cancelBtn">关闭</span>
            </div>
        </div>
    </div>

</div>