<div id="homepage" class="clearfix">
    <div class="mb0 view-block-row column-50 pr10 ">
        <div class="column-50 pl0 pr10"><header class="head-block">学生考勤-迟到比例<a class="more" href="javascript:void(0)" data-module="attence-analyse">更多</a></header><div id="attence-analyse-chart1" class="shadow-block view-block" ></div></div>
        <div class="column-50 pl10 pr0"><header class="head-block">学生考勤-早退比例<a class="more" href="javascript:void(0)" data-module="attence-analyse">更多</a></header><div id="attence-analyse-chart2" class="shadow-block view-block" ></div></div>
        <div class="column-100 pl0 pr0 mt10"><header class="head-block">报修信息<a class="more" href="javascript:void(0)" data-module="report-list">更多</a></header><div id="report-list" ></div></div>
    </div>
    <div class="view-block-row column-50 pl10 mb0">
        <header class="head-block">最新信息<a class="more" href="javascript:void(0)" data-module="message-publish-list">更多</a></header><div id="message-publish-list"></div>
    </div>
</div>