<div id="menu-manage">
    <div class="condition-wrap shadow-block">
        <input id="home-easyui-searchbox" style="width:200px"/>
        <div class="conditionitem">
            <span>展式形式：</span>
            <select id="show_type">
                <option value="0">全部</option>
                <option value="1">普通</option>
                <option value="2">弹窗</option>
                <option value="3">无界面</option>
            </select>
        </div>
        <div class="conditionitem">
            <span>菜单位置：</span>
            <select id="menu_type">
                <option value="0">全部</option>
                <option value="1">左侧菜单</option>
                <option value="2">设置下拉菜单</option>
            </select>
        </div>
    </div>
    <div class="tablecontainer shadow-block">
        <div class="tablecontainer">
            <table id="dataTable"></table>
        </div>
        <div id="menu-manage-toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" id="add_menu_btn" data-options="iconCls:'fa fa-plus icon-datagrid',plain:true">添加菜单</a>
            <div class="datagrid-btn-separator"></div>
            <a href="javascript:void(0)" class="easyui-linkbutton" id="modify_menu_btn" data-options="iconCls:'fa fa-pencil icon-datagrid',plain:true">编辑菜单</a>
            <div class="datagrid-btn-separator"></div>
            <a href="javascript:void(0)" class="easyui-linkbutton" id="delete_menu_btn" data-options="iconCls:'fa fa-remove icon-datagrid',plain:true">删除菜单</a>
        </div>
    </div>
</div>
