<div class="passwordmodify">
    <div class="panel-body">
            <div class="form-group">
                <input class="form-control" placeholder="旧密码" name="oldpassword" id="oldpassword" type="password" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="新密码" name="newpassword" id="newpassword" type="password" value="">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="确认密码" name="repassword" id="repassword" type="password" value="">
            </div>
            <div style="margin-top:25px;">
                <button id="confirmBtn" class="btn btn-lg btn-success btn-block">确认</button>
                <button id="cancelBtn" class="btn btn-lg btn-cancel btn-block">取消</button>
            </div>
    </div>
</div>
