<div id="role2user">
    <div class="role2user_content_wrap">
        <div class="lr-c-panel">
            <div class="left-choose-panel">
                <div class="panel-flow-wrap">
                    <ul id="roleList" class="list-panel">

                        <li class="list-item">管理员</li>
                        <li class="list-item">管理员</li>
                        <li class="list-item">管理员</li>
                    </ul>
                </div>
            </div>
            <div class="center-operator-panel">
                <div class="operator-wrap">
                    <span class="choose-btn fa fa-angle-right" id="addRole"></span>
                    <span class="choose-btn fa fa-angle-left" id="removeRole"></span>
                    <span class="choose-btn fa fa-angle-double-right" id="addAllRole"></span>
                    <span class="choose-btn fa fa-angle-double-left" id="removeAllRole"></span>
                </div>

            </div>
            <div class="right-choose-panel">
                <div class="panel-flow-wrap">
                    <ul id="mapList" class="list-panel">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-wrap">
        <span class="framework-button" id="confirmBtn">提交</span>
        <span class="framework-button" id="cancelBtn">取消</span>
    </div>
</div>
