<div class="role-add-modify add-modify-form">
    <div class="panel-body">
            <div class="form-group">
                <label>角色名：</label>
                <input class="form-control" placeholder="请输入角色名" name="role_name" id="role_name" type="text" autofocus>
            </div>
            <div class="btn-wrap">
                <span class="framework-button" id="confirmBtn">提交</span>
                <span class="framework-button" id="cancelBtn">取消</span>
            </div>
    </div>
</div>
