<div id="user2role">
    <div class="user2role_content_wrap">
        <div class="lr-choose-panel">
            <div class="left-choose-panel">
                <div class="panel-flow-wrap">
                    <ul id="userList" class="list-panel">
                    </ul>
                </div>
            </div>
            <div class="center-operator-panel">
                <div class="operator-wrap">
                    <span class="choose-btn fa fa-angle-right" id="addUser"></span>
                    <span class="choose-btn fa fa-angle-left" id="removeUser"></span>
                    <span class="choose-btn fa fa-angle-double-right" id="addAllUser"></span>
                    <span class="choose-btn fa fa-angle-double-left" id="removeAllUser"></span>
                </div>

            </div>
            <div class="right-choose-panel">
                <div class="panel-flow-wrap">
                    <ul id="mapList" class="list-panel">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-wrap">
        <span class="framework-button" id="confirmBtn">提交</span>
        <span class="framework-button" id="cancelBtn">取消</span>
    </div>
</div>
