<div class="user-add-modify add-modify-form">
    <div class="panel-body">
            <div class="form-group">
                <label>用户名：</label>
                <input class="form-control" placeholder="请输入用户名" name="user_name" id="user_name" type="text" autofocus>
            </div>
            <div class="form-group">
                <label>密码：</label>
                <input class="form-control" placeholder="请输入密码" name="user_password" id="user_password" type="text" value="">
            </div>
            <div class="btn-wrap">
                <span class="framework-button" id="confirmBtn">提交</span>
                <span class="framework-button" id="cancelBtn">取消</span>
            </div>
    </div>
</div>
