<!DOCTYPE html>
<html data-use-rem="750">
<head>
    <title>学校物业管理平台</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='<%=getCss("h5")%>'/>
    <link rel='stylesheet' href='/dist/font-awesome-4.6.3/css/font-awesome.min.css'/>
    <script>
        var UserInfo = {
            username:'<%=session.userInfo.username%>',
            nickname:'<%=session.userInfo.nickname%>',
            password:'<%=session.userInfo.password%>'
        };
    </script>
</head>
<body class="theme5">
<% include h5layout.html%>
<div id="h5app">
    <div id="msg_holder" class="loading-wrap"><div class="loading-preloader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
             </div></div>
    <router-view></router-view>
</div>
<script src="/dist/modules/zepto.min.js"></script>
<script src="<%=getJs('common')%>"></script>
<script src="<%=getJs('h5')%>"></script>
</body>
</html>