<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/src/stylesheets/login.css">
    <link rel="stylesheet" type="text/css" href="/src/stylesheets/animation.css">
</head>

<body>
    <div class="container">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">请登录</h3>
                <% if(typeof error != 'undefined'){ %>
                <p class="text-danger"><%= error %></p>
                <% } %>
            </div>
            <div class="panel-body">
                <form role="form" action="/login" method="post">
                  <input type="hidden" value="" name="from">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="用户名" name="username" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="密码" name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">记住我
                            </label>
                        </div>
                        <button class="btn btn-lg btn-success btn-block">登 录</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
