<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/src/stylesheets/login.css">
</head>
<body>
    <script>
        var theme = '';
        if(theme = localStorage.getItem('_THEME_KEY')){
            document.body.className = theme;
        }
    </script>
    <div class="container">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <% if(typeof error != 'undefined'){ %>
                <p class="text-danger"><%= error %></p>
                <% } %>
                <form role="form" action="/login" method="post">
                  <input type="hidden" value="" name="from">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="用户名" name="username" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="密码"  id="password" name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">记住我
                            </label>
                        </div>
                        <button id="loginBtn" class="btn btn-lg btn-success btn-block">登 录</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script src="/src/javascripts/libs/crypto.js"></script>
    <script>

        document.getElementById('loginBtn').addEventListener('click',function(){
            var password = document.getElementById('password').value;
            if(password.length != 32)
                document.getElementById('password').value=(Crypto.md5(password));
            return true;
        });
    </script>
</body>

</html>
