<!DOCTYPE html>
<html lang="en" data-use-rem="750">
<head>
	<meta charset="UTF-8">
	<title>artEditor</title>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel='stylesheet' href='/dist/modules/reporth5.css'/>
	<link rel='stylesheet' href='/dist/font-awesome-4.6.3/css/font-awesome.css'/>
	<script src="/dist/modules/common.js"></script>
	<script src="/dist/modules/reporth5.js"></script>
</head>
<body>
<% include h5layout.html%>
	<div class="publish-article-title">
		<div class="title-tips">标题</div>
		<input type="text" id="title" class="w100" placeholder="文章标题">
	</div>
	<div class="publish-article-content">
		<div class="title-tips">正文</div>
		<input type="hidden" id="target">
		<div class="article-content" >
			<textarea id="content" style="width:100%;height: 100%;border:0" placeholder="请输入正文内容"></textarea>
		</div>
		<ul id="imageList"></ul>
		<div class="footer-btn g-image-upload-box">
			<form id="edui-form" class="edui-image-form" method="post" action="/file/upload" enctype="multipart/form-data" target="up">
				<div class="upload-button">
						<span class="upload"><i class="upload-img"></i>插入图片</span>
						<input class="input-file" id="imageUpload" type="file" name="upfile" capture="camera" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp" style="position:absolute;left:0;opacity:0;width:100%;">
				</div>
			</form>
		</div>
	</div>

	<div class="btn-wrap">
		<span class="framework-button" id="submitBtn">提交</span>
		<span class="framework-button" id="cancelBtn">取消</span>
	</div>
</body>
</html>
