
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
html,body{
  height:100%;
  overflow: hidden;
}
#h5app{
  font-family: MicroSoft Yahei;
  height:100%;
  color: #7b7b7b;
  overflow: hidden;
  .router-view{
    overflow: auto;
    height: 100%;
    width:100%;
    position: fixed;
    left:0;
    top:0;
    padding-top:1rem;
    background-color: #fff;
  }
}

