*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    height:100%;
}
body{
    height:100%;
    background-image: url('../images/framework/bg.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    font-size: 14px;
    font-family:"宋体";
    color:#333333;
}
p{
    margin: 0 0 10px;
}
.panel {
    width:360px;
    position: absolute;
    left:50%;
    top:40%;
    margin-left:-180px;
    margin-top:-70px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-heading{
    background-color: #F5F5F5;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    border-color: #ddd;
}
.panel-title{
    font-weight:normal;
    font-size:16px;
}
.text-danger{
    color:#A94442;
    font-size: 14px;
    line-height:1.5;
}
.login-panel{
    border: 8px solid rgba(0, 0, 0, 0.09);
    -webkit-animation-name: uk-fade-slide-top;
    animation-name: uk-fade-slide-top;
    -webkit-animation-duration: 0.6s;
    animation-delay: .1s;
    -webkit-animation-delay: .2s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes uk-fade-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
.panel-default {
}
.panel-body{
    padding:20px 20px;
    background: #fdfdfd;
}
fieldset{
    border:0;
}
.form-group {
    margin-bottom: 15px;
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-success {
    color: #fff;
    background-color: #678997;
    border-color: #678997;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "MicroSoft Yahei";
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}
input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}