html {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: .25rem;
}
*{
  box-sizing:border-box;
}
html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #ededed;
  color: #666666;
  line-height: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a {
  color: #3278ee;
  text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  border: none;
  font-size: .25rem;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  color: #333333;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
  outline: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
textarea {
  outline: none;
  border: none;
  resize: none;
  height: 90px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
input[type=text]:active,
input[type=password]:active,
textarea:active,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border: none;
  background: #ffffff;
  outline: none;
}
::-webkit-input-placeholder {
  -webkit-text-fill-color: #bdbdbd;
}
::-moz-placeholder {
  color: #dddddd;
}
input:-ms-input-placeholder {
  color: #dddddd;
}
textarea:-ms-input-placeholder {
  color: #dddddd;
}

.publish-article-title {
  padding: .2rem;
  background: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.title-tips {
  font-weight: bold;
  margin-bottom: 3px;
}
.publish-article-content {
  padding: .2rem;
  background: #fff;
  border-bottom: 1px solid #dadada;
}
.publish-article-content .article-content {
  height: 3rem;
  border-bottom: 1px solid #ccc;
}
.publish-article-content .article-content img{
  width:2rem !important;
}
.publish-article-content .footer-btn {
  text-align: center;
  padding-top: .3rem;
}
.publish-article-content .footer-btn .upload-img {
  display: inline-block;
  vertical-align: bottom;
  width: .5rem;
  height: .4rem;
  margin-right: .1rem;
  background: url(./images/snapphoto.png) 0 no-repeat;
  background-size: 100%;
}

.btn-wrap{
  text-align: justify;
  margin: .3rem 0;
  padding: 0 .15rem;
}
.btn-wrap:after {
  content: '';
  display: inline-block;
  height: 0;
  width: 100%;
}
.button{
  font-size: .3rem;
  width:3.5rem;
  height:1rem;
  display:inline-block;
  line-height: 1rem;
  border-radius: .1rem;
  border-color:#3498db;
  background-color: #3498db;
  color:#fff;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  cursor:pointer;
  text-align: center;
}
.button:hover{
  background-color: #217dbb;
  border-color: #2077b2;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
#myEditor{
  width:7.1rem;
  height:2rem;
}
#imageList{
  list-style: none;
  overflow: hidden;
  padding:0rem;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  font-size: 0;
}
#imageList li{
  float:left;
  width:2rem;
  height:2rem;
  margin: .15rem .11rem;
  text-align: center;
  line-height: 2rem;
  border:1px solid #eee;
  overflow:hidden;
  position: relative;
}
#imageList li .close{
  position: absolute;
  right: 0.02rem;
  top: 0;
  width: .5rem;
  height: .5rem;
  color: #ee2924;
  font-size: .6rem;
}

#imageList img{
  width:1.5rem;
  vertical-align: middle;
}
