
#account-manage{
    overflow: hidden;
    .tablecontainer{
        height:100%;
    }

    select{
        width:100px;
        vertical-align: middle;
        border:1px solid #DDDDDD;
        height:22px;
        color: #3a3a3a;
        outline:none;
    }
    .ztree li span.button.icon01_ico_open, .ztree li span.button.icon01_ico_close, .ztree li span.button.icon01_ico_docu{
        margin-right:2px; background: url(../../javascripts/libs/ztree/css/zTreeStyle/img/diy/1_close.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

    .datagrid-btable{
        font-family:Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    .nav{
        height:70px;
        background-color: #9AA7AF;
        position: relative;
    }
    .nav h2{
        font-size: 22px;
        color: #FCFCFC;
        line-height: 70px;
        margin: 0 20px;
        font-weight: normal;
    }
    .nav .logout{
        position: absolute;
        right: 50px;
        bottom: 25px;
        color: #FCFCFC;
    }

    .nav .logout>.link{
        color: #D3D4DB;
        cursor: pointer;
    }
    #exportFrame{
        display: none;
    }
    .head-tools{
        &:before{
            content:'公司列表';
        }
    }
    .tree-container{
        position: absolute;
        top:52px;
        left:0;
        right:0;
        bottom:0;
    }
}
