
#attence-search{
    height:100%;
    .tablecontainer{
    }

    .datagrid-btable{
        font-family:Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    #exportFrame{
        display: none;
    }
}

.icon-in{
    background-image: url("../images/in.png");
    background-repeat: no-repeat;
}
.icon-out{
    background-image: url("../images/out.png");
    background-repeat: no-repeat;
}