
#form-manage{
    .tablecontainer{
        height:100%;
    }

    .datagrid-btable{
        font-family:Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }

    .conditionitem{
        width:180px;
    }
}
