.toolbar-icon{
    display:inline-block;
    width:20px;
    height:20px;
    line-height:20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-save{
    background-image: url('../images/save.png');
}