.message-publish{
    background-color: rgba(255,255,255,.3);
    .edui-container,.edui-toolbar,.edui-editor-body{
        box-shadow:none;
        background-color:rgba(255,255,255,.3);
    }
    .btn-wrap{
        padding:15px 15px;
        text-align: center;
    }
    .edui-container{
        border:0;
    }
    #title{
        border:1px solid #ccc;
        height:30px;
        line-height: 30px;
        padding:5px;
        font-family: MicroSoft Yahei;
        font-size:14px;
        color: #3c3c3c;
        outline: none;
        margin:5px 0 0 0;
        width: 100%;
        border-bottom: 0;
    }
}